body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.pond5.com/star-wars-abstract-leap-hyperspace-footage-130046156_iconl.jpeg');
  background-size: cover;
}
